a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
  font-weight: 500;
}

a:hover {
  font-weight: 500;
  color: #3d405b
}

.dropdown {
  color: white;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 500;
}

.dropdown:hover {
  font-weight: 500;
  color: #3d405b
}

#project {
  transition: 0.4s;
  width: fit-content;
}

.active{
  color: #3d405b
}

#project:hover {
  background: white;
}
