a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.4s;
}

a:hover {
  background: #3d405b
}

.dropdown {
  color: white;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  transition: 0.4s;
}

.dropdown:hover {
  background: #3d405b
}